<div class="container-fluid sticky-top z-1">
    <div class="row">
        <header class="bg-light">
            <nav class="col-12 navbar navbar-expand-md navbar-light">
                <!-- logo -->
                <a class="navbar-brand col-3" routerLink="/">
                    <img src="/assets/images/company-logo.png" alt="Logo" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- nav link -->
                <div class=" collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav col-9 d-flex justify-content-between">
                        <li class="nav-item py-3">
                            <a class="nav-link" routerLink="/" routerLinkActive="active"
                                class="text-decoration-none app-nav-item">client list</a>
                        </li>
                        <li class="nav-item py-3">
                            <a class="nav-link" routerLink="/client-details" routerLinkActive="active"
                                class="text-decoration-none">client details</a>
                        </li>
                        <li class="nav-item py-3">
                            <a class="nav-link" routerLink="/create-client" routerLinkActive="active"
                                class="text-decoration-none">create client</a>
                        </li>
                        <li class="nav-item py-3">
                            <a class="nav-link" routerLink="/edit-client" routerLinkActive="active"
                                class="text-decoration-none">edit client</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
</div>