<div class="container-fluid p-3">
    <div class="row pb-3">
        <div class="col-12 col-md-6 col-lg-6">
            <h1 class="app-heading">Client Details</h1>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mt-3 mt-md-0 mt-lg-0 d-flex justify-content-end">
            <a class="btn btn-primary" routerLink="/edit-client" routerLinkActive="active"
                role="button">Edit Client</a>
        </div>
    </div>
    <div class="row bg-light rounded-3 p-3">
        <div class="col-12 col-md-3 col-lg-2 bg-white  rounded-3 p-5 d-flex justify-content-center align-items-center app-logo-container">
            <img src="/assets/images/company-logo.png" alt="Client Logo" class="img-fluid app-client-logo">
        </div>
        <div class="col-12 col-md-9 col-lg-10 d-flex flex-wrap">
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Client Name</h6>
                <h6 class="app-info-data">Arun</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Client Email</h6>
                <h6 class="app-info-data">arun123gmail.com</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Client Phone Number</h6>
                <h6 class="app-info-data">6369052594</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Company Name</h6>
                <h6 class="app-info-data">ohoh products pvt ltd</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Industry</h6>
                <h6 class="app-info-data">software development</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Contact Person Name</h6>
                <h6 class="app-info-data">bharani</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pt-3">
                <h6 class="app-info-label">Contact Person Number</h6>
                <h6 class="app-info-data">bharani</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-6 pt-3">
                <h6 class="app-info-label">Company Address</h6>
                <h6 class="app-info-data">656/B1,B2, First floor, Kanji - Tiruvannamalai Rd, Tiruvannamalai, Tamil Nadu 606604</h6>
            </div>
            <div class="col-12 col-md-6 col-lg-6 pt-3">
                <h6 class="app-info-label">Client Address</h6>
                <h6 class="app-info-data">656/B1,B2, First floor, Kanji - Tiruvannamalai Rd, Tiruvannamalai, Tamil Nadu 606604</h6>
            </div>
        </div>
       
    </div>
</div>